@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

@if (ViewBag.Books.Count > 0)
{
    <table  class="table">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Published</th>
            <th>Checked Out</th>
            <th>Due Date</th>
            <th>Returned</th>
        </tr>
        @foreach (Book book in ViewBag.Books)
        {
    <tr>
        <td>@(book.ID)</td>
        <td><a href="/Book/Details?id=@(book.ID)">@(book.Title)</a></td>
        <td>@(book.Author.Name)</td>
        <td>@(book.PublicationDate.ToShortDateString())</td>
        @*<td>@(book.Borrows.Last().CheckedOutDate)</td>
        <td>@(book.Borrows.Last().DueDate)</td>

        <td>@((book.Borrows.Last().DueDate == null ? "Not Returned" : ((DateTime)book.Borrows.Last().ReturnedDate).ToShortDateString()))</td>*@
    </tr>
        }
    </table>
}
else
{
    <p>No books have been checked out.</p>
}