@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

@if (ViewBag.Books.Count > 0)
{
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Published</th>
            <th>Checked Out</th>
            <th>Due Date</th>
            <th>Returned</th>
        </tr>
        @foreach (Book book in ViewBag.Books)
        {
            <tr>
                <td>@(book.ID)</td>
                <td><a href="/Book/Details?id=@(book.ID)">@(book.Title)</a></td>
                <td>@(book.Author)</td>
                <td>@(book.PublicationDate.ToShortDateString())</td>
                <td>@(book.CheckOutDate.ToShortDateString())</td>
                <td>@(book.DueDate.ToShortDateString())</td>

                <td>@((book.ReturnDate == null ? "Not Returned" : ((DateTime)book.ReturnDate).ToShortDateString()))</td>
            </tr>
        }

    </table>
}
else
{
    <p>No books have been checked out.</p>
}